NODE_ENV=           # production, development, test
SECRET_KEY=         # openssl rand -base64 128
MONGO_URI=          # mongodb+srv://admin:HPvzCfgcWT1K0XuA@cluster.ukkr5pz.mongodb.net/?retryWrites=true&w=majority
